<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2 class="alert-heading"><%= pluralize(game.errors.count, "error") %> stopped this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions row">
    <div class="col">
      <%= form.submit 'Update database', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
