<div class="row">
  <div class="col">
    <h1>Find Steam ID</h1>
  </div>
</div>

<%= render 'form_find_steam_id', game: @game %>

<div class="row">
  <p class="col">
    <%= link_to 'Show', @game %> | <%= link_to 'Back', games_path(view_param: 'failed-db') %>
  </p>
</div>
